.card-front-back{
    --width: 130px;
    --heigth: 160px;
    height: var(--heigth);
    width: var(--width);
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s cubic-bezier(0.42, 0, 0.65, 1.99);
}

.card-face{
    position: absolute;
    backface-visibility: hidden;    
}
.card-front-back.-ativo{
    transform: rotateY(180deg);
}

.back > .card-game{
    background-color: var(--color-flery-rose); 
}

.back{
    transform: rotateY( 180deg );
}