.pontos-jogador{
    box-sizing: border-box;
    height: 20px;
    width: 50px;
    border: 2px solid var(--color-flery-rose);
    display: flex;
}

.ponto{
    height: 14px;
    width: 14px;
    border: 1px solid var(--color-floral-white);
    background-color: var(--color-old-oliver);
}


